html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

.App-link {
  color: black;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #61dafb;
  border-radius: 15px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.App-link:hover {
  background-color: #1f758d;
  color: white;
}

.random {
  font-weight: 800;
  color: rgb(175, 84, 84);
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
